body{
    background-color: whitesmoke;
    text-align: center;
}

#new-book-btn {
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .book-card{
    background-color: #f8f3f3;
    display: block;
    margin: 0 auto;
    float: left;
    margin: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
  }

  form{
    max-width: 900px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    display: block;
    text-align: center;
    display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }

  form
  {
      display: block;
      text-align: center;
  }
  form
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }
